@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,900");
/* Container */

.container {
  margin: 0 auto;
  max-width: 100%;
  width: 68em;
}

@media screen and (max-width: 1680px) {
  .container {
    width: 70em;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    width: calc(100% - 100px);
  }
}

@media screen and (max-width: 980px) {
  .container {
    width: calc(100% - 100px);
  }
}

@media screen and (max-width: 736px) {
  .container {
    width: calc(100% - 40px);
  }
}

/* Row */

.row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: stretch;
}

/* Section/Article */

section,
article {
  margin: 0 0 4em 0;
}

section > :last-child,
article > :last-child,
section:last-child,
article:last-child {
  margin-bottom: 0;
}

/* Form */

form label {
  display: block;
  font-weight: 700;
  color: #484d55;
  margin: 0.25em 0 0.5em 0;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form select,
form textarea {
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-appearance: none;
  display: block;
  border: 0;
  background: #eee;
  box-shadow: inset 0px 0px 1px 0px #a0a1a7;
  border-radius: 0.35em;
  width: 100%;
  padding: 0.75em 1em 0.75em 1em;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus,
form select:focus,
form textarea:focus {
  background: #f8f8f8;
}

form input[type="text"],
form input[type="email"] input[type="password"] {
  line-height: 1em;
}

form select {
  line-height: 1em;
}

form ::-webkit-input-placeholder {
  color: #555 !important;
  font-style: italic;
  line-height: 1.35em;
}

form :-moz-placeholder {
  color: #555 !important;
  font-style: italic;
}

form ::-moz-placeholder {
  color: #555 !important;
  font-style: italic;
}

form :-ms-input-placeholder {
  color: #555 !important;
  font-style: italic;
}

form ::-moz-focus-inner {
  border: 0;
}

/* Wrapper */

.wrapper {
  position: relative;
  padding: 6em 0 9em 0;
}

.wrapper .title {
  position: absolute;
  top: 0;
  left: 50%;
  text-align: center;
  text-transform: uppercase;
  display: block;
  font-weight: 700;
  letter-spacing: 0.25em;
  font-size: 0.9em;
  width: 25em;
  height: 3.25em;
  top: -3.25em;
  line-height: 3.25em;
  margin-bottom: -3.25em;
  margin-left: -12.5em;
  padding-top: 0.5em;
}

.wrapper .title:before {
  content: "";
  position: absolute;
  bottom: -38px;
  left: -35px;
  width: 35px;
  height: 38px;
  background: url("images/shadow.png");
}

.wrapper .title:after {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  content: "";
  position: absolute;
  bottom: -38px;
  right: -35px;
  width: 35px;
  height: 38px;
  background: url("images/shadow.png");
}

.wrapper.style1 {
  background: #1890ff url("./images/overlay.png");
  color: #eee;
  color: rgba(255, 255, 255, 0.75);
}

.wrapper.style1 .title {
  background: #1890ff url("./images/overlay.png");
  color: #fff;
}

.wrapper.style1 h1,
.wrapper.style1 h2,
.wrapper.style1 h3,
.wrapper.style1 h4,
.wrapper.style1 h5,
.wrapper.style1 h6,
.wrapper.style1 strong,
.wrapper.style1 b,
.wrapper.style1 a {
  color: #fff;
}

.wrapper.style2 {
  background: #fff;
}

.wrapper.style2 .title {
  background: #fff;
  color: #484d55;
}

.wrapper.style3 {
  background: #f3f3f3 url("./images/overlay.png");
}

.wrapper.style3 .title {
  background: #f3f3f3 url("./images/overlay.png");
  color: #484d55;
}

.wrapper.style3 .image {
  border: solid 10px #fff;
}

/* Page Wrapper */

#page-wrapper > section {
  margin-bottom: 0;
}

/* Logo */

#logo {
  width: 100%;
  text-align: center;
  position: relative;
  top: 1.5em;
}

#logo h1 {
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  font-size: 2em;
  letter-spacing: 0.25em;
}

#logo p {
  color: #eee;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  margin: 1.25em 0 0 0;
  display: block;
  letter-spacing: 0.2em;
  font-size: 0.9em;
}

/* Nav */

#nav {
  position: absolute;
  display: block;
  top: 2.5em;
  left: 0;
  width: 100%;
  text-align: center;
}

#nav > ul {
  display: inline-block;
  border-radius: 0.35em;
  box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25);
  padding: 0 1.5em 0 1.5em;
}

#nav > ul > li {
  display: inline-block;
  text-align: center;
  padding: 0 1.5em 0 1.5em;
}

#nav > ul > li > ul {
  display: none;
}

#nav > ul > li > a,
#nav > ul > li > span {
  display: block;
  color: #eee;
  color: rgba(255, 255, 255, 0.75);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.7em;
  letter-spacing: 0.25em;
  height: 5em;
  line-height: 5em;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  outline: 0;
}

#nav > ul > li:hover > a {
  color: #fff;
}

#nav > ul > li.active > a,
#nav > ul > li.active > span {
  color: #fff;
}
/* Intro */

#intro {
  padding-bottom: 8em;
  text-align: center;
}

#intro p.style1 {
  font-size: 1.5em;
  letter-spacing: 0.075em;
}

#intro p.style2 {
  font-weight: 700;
  color: #fff;
  border-radius: 0.35em;
  box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25);
  font-size: 2.75em;
  letter-spacing: 0.075em;
  line-height: 1.35em;
  padding: 1em 0 1em 0;
  margin-bottom: 1em;
}

#intro p.style2 a {
  color: inherit;
  text-decoration: none;
}

#intro p.style3 {
  font-size: 1.1em;
  width: 48em;
  margin: 0 auto;
}

/* XLarge */

@media screen and (max-width: 1680px) {
  /* Basic */

  body,
  input,
  textarea,
  select {
    font-size: 12pt;
  }
}

/* Large */

@media screen and (max-width: 1280px) {
  /* Basic */

  body,
  input,
  select,
  textarea {
    font-size: 11pt;
    line-height: 1.5em;
    letter-spacing: 0.015em;
  }

  /* Wrapper */

  .wrapper {
    padding: 4em 0 7em 0;
  }

  /* Logo */

  #logo {
    margin-top: -0.5em !important;
  }

  #logo h1 {
    font-size: 1.75em;
  }

  /* Intro */

  #intro {
    padding-bottom: 7em;
  }

  #intro p.style1 {
    font-size: 1.25em;
  }

  #intro p.style2 {
    font-size: 2.25em;
  }

  /* Footer */

  #footer {
    padding-bottom: 4em;
  }

  #footer header.style1 {
    padding-bottom: 4em;
    margin-bottom: 4em;
    border-bottom: solid 1px rgba(255, 255, 255, 0.05);
  }
}
@media screen and (max-width: 980px) {
  header br {
    display: none;
  }

  form ul.actions {
    text-align: center;
  }

  /* Nav */

  #nav {
    display: none;
  }

  /* Logo */

  #logo {
    top: 0;
  }

  /* Intro */

  #intro p.style3 {
    width: auto;
  }

  /* Footer */

  #footer .feature-list {
    border-top: solid 1px rgba(255, 255, 255, 0.05);
    padding-top: 4em;
  }
}

@media screen and (max-width: 980px) and (min-width: 737px) {
  #footer .feature-list > .row > :nth-child(2) > section {
    border-top: 0;
    padding-top: 0;
  }
}

@media screen and (max-width: 980px) {
  /* Nav */

  #page-wrapper {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: -moz-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease;
    padding-bottom: 1px;
  }
}
